:root {
    --primary-color: #008080; 
    --secondary-color: #006666; 
    --background-color: #e0f7fa; 
    --text-color: #333; 
    --hover-color: #005959; 
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    --border-radius: 10px;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    padding: 4px 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: background-color 0.3s;
}

.header.scrolled {
    background-color: var(--primary-color);
    color: white;
    border-radius: 10px;
}

.logo {
    flex: 1;
}

.logo form {
    margin: 0;
}

.btn-img-logo {
    background: none;
    border: none;
    cursor: pointer;
}

.btn-img-logo img {
    width: 60px;
    transition: transform 0.3s;
}

.btn-img-logo img:hover {
    transform: scale(1.1);
}

.nav-list {
    flex: 2;
    text-align: center;
    margin-left: -20px;
}

.nav-list nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-left: -200px;
}

.nav-list nav ul li {
    margin: 0 15px;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.nav-list nav ul li:hover {
    margin: 0 15px;
    transform: scale(1.1);
}

.nav-list nav ul li a {
    font-size: 0.85em;
    text-decoration: none;
    color: #333333d4;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-list nav ul li a:hover {
    color: var(--primary-color);
    text-decoration: underline; 
    transform: translateY(-2px);
}

.connexion {
    flex: 1;
    text-align: right;
    display: flex;
    align-items: center;
    margin-left: -20px;
}

.connexion p {
    margin: 0 10px 0 0;
    display: flex;
    align-items: center;
    font-weight: bold;
    color: black;
    margin-left: 20px;
    font-size: 1em;
    font-family: "Manrope", sans-serif;
}

.connexion p:hover {
    background-color: rgba(58, 62, 62, 0.151); 
    border: 1px solid transparent;
    border-radius: 20px;
    padding: 5px; 
    font-size: 1em;
}

.connexion span {
    margin-left: 10px;
}

.connexion span:hover {
    margin-left: 8px;
}

.connexion form {
    display: inline;
}

.btn-co {
    font-size: 0.82em;
}

.connexion button {
    background-color: #008080b6;
    color: white;
    border: none;
    padding: 15px 30px;
    cursor: pointer;
    border-radius: 23px;
    margin-left: 40px;
    transition: background-color 0.3s;
}

.connexion button:hover {
    background-color: white;
    border: 1 px solid #005959;
    color: #333;
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.connecter {
    margin-left: 140px;
}

.search-container {
    display: flex;
    align-items: center;
    border: 1px solid var(--primary-color);
    border-radius: var(--border-radius);
    padding: 3px; /* Réduit le padding */
    background-color: var(--background-color);
    box-shadow: var(--box-shadow);
    transition: box-shadow 0.3s;
    position: absolute; /* Positionnement absolu */
    left: 820px; /* Déplace vers la gauche */
}

.search-container:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.search-container input[type="text"] {
    border: none;
    outline: none;
    padding: 5px; 
    font-size: 14px; /* Réduit la taille de la police */
    width: 150px; /* Réduit la largeur */
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--category-font);
    transition: background-color 0.3s;
}

.search-container input[type="text"]:focus {
    background-color: #fff;
}

.search-container button {
    border: none;
    outline: none;
    background-color:#008080b6;
    color: #fff;
    padding: 5px; 
    font-size: 14px; 
    cursor: pointer;
    border-radius: var(--border-radius);
    margin-left: 5px;
    transition: background-color 0.3s;
}

.search-container button:hover {
    background-color: white;
}

.search-container button span {
    margin-left: 4px;
}

.search-container button span:hover {
    margin-left: 4px;
}


.titre {
    position: relative;
    background: linear-gradient(to right, rgba(0, 128, 128, 0.7), rgba(0, 102, 102, 0.7));
    background-size: cover;
    text-align: center;
    margin: 20px 0;
    padding: 70px;
    margin-top: -14px;
    box-shadow: var(--box-shadow);
}

.titre h1 {
    font-size: 3.9em;
    margin-bottom: 20px;
    font-weight: bold;
    font-style: normal;
    color: white;
    font-family: "Ubuntu", serif;
    animation: fadeIn 2s ease-in-out;
    margin-top: -10px;
}

.titre p {
    font-size: 1.2em;
    color: rgba(255, 255, 255, 0.66);
    font-family: "Nunito", serif;
    animation: fadeIn 2s ease-in-out;
    margin-bottom: 30px; /* Ajout de marge en bas */
}

.titre .first-line {
    display: block;
    margin-bottom: 1px;
}

.titre .second-line {
    display: block;
}

.titre .actions {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.explore-btn {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 19px;
    margin-right: 20px;
    transition: background-color 0.3s;
    font-family: "Nunito", serif;
}

.explore-btn:hover {
    background-color: var(--hover-color);
}

.meet-team-link {
    text-decoration: underline;
    color: var(--secondary-color); /* Changement de couleur */
    font-weight: bold;
    display: flex;
    font-family: "Nunito", serif;
    align-items: center;
    transition: color 0.3s;
}

.meet-team-link:hover {
    color:rgb(243, 247, 250);
    transform: scale(1.1);
}

.meet-team-link .material-symbols-outlined {
    margin-left: 10px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.menu-categories {
    text-align: left;
    margin: 20px 0;
}

.menu-categories h2 {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
}

.menu-categories p {
    font-size: 1.5em;
    font-weight: normal;
    margin-bottom: 20px;
    text-align: left;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.categories form {
    margin: 0;
    flex: 1 1 calc(16.666% - 20px);
    max-width: calc(16.666% - 20px);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.categories button {
    background: none;
    border: none;
    cursor: pointer;
    text-align: center;
    padding: 10px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    transition: transform 0.3s, box-shadow 0.3s;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.categories button:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.categories button p img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    object-fit: cover;
    transition: transform 0.3s;
}

.categories button p img:hover {
    transform: rotate(360deg);
}

.categories button h3 {
    font-size: 1.2em;
    margin: 0;
    text-align: center;
}

.image-section {
    width: 110%;
    height: 700px; 
    overflow: hidden;
    margin-top: 100px;
    border-radius: 20px; 
    margin-left: -55px;
}

.image-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px; 
}


.content-section {
    display: flex;
    align-items: flex-start;
    margin: 40px 20px;
}

.text-block {
    flex: 1;
    text-align: left;
    margin-right: 20px;
    border: 2px solid white;
    padding: 20px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.text-block h4 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: var(--primary-color);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.text-block h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: var(--secondary-color);
    font-family: 'Roboto', sans-serif;
    color: black;
    margin-top: 0px;
}

.text-block p {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: var(--text-color);
    font-family: 'Helvetica', sans-serif;
    color:rgba(0, 0, 0, 0.662);
}

.text-block p span {
    display: block;
    margin-bottom: 10px;
}

.split-text span::after {
    content: "\A";
    white-space: pre;
}

.start-btn {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: var(--border-radius);
    margin-top: 20px;
    transition: background-color 0.3s;
}

.start-btn:hover {
    background-color: var(--hover-color);
}

.testimonial-block {
    display: flex;
    align-items: center;
    border: 2px solid white;
    padding: 20px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    margin-top: 20px;
}

.testimonial-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

.soph {
    margin-left: 45px;
    margin-top: -39px;
}

.testimonial-text {
    flex: 1;
}

.testimonial-text p {
    font-size: 1em;
    color: var(--text-color);
    margin-bottom: 10px;
    font-family: 'Helvetica', sans-serif;
    color:rgba(0, 0, 0, 0.662);
    }

.testimonial-text p span {
    display: block;
    margin-bottom: 10px;
}

.image-block {
    flex: 1;
    text-align: right;
    display: flex;
    justify-content: flex-end;
}

.image-block img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}


.gallery-section {
    margin: 40px 20px;
    text-align: left;
    margin-top: 80px;
}

.gallery-header {
    margin-bottom: 20px;
}

.gallery-header h1 {
    font-size: 3.3em;
    margin-bottom: 10px;
    color: black;
    font-family: 'Roboto', sans-serif;
}

.gallery-header p {
    font-size: 1.2em;
    color: var(--text-color);
    font-family: 'Helvetica', sans-serif;
    color: rgba(0, 0, 0, 0.662);
}

.gallery-header p span {
    display: block;
    margin-bottom: 10px;
}

.gallery-images {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 60px;
}

.gallery-item {
    flex: 1 1 calc(16.666% - 20px);
    max-width: calc(16.666% - 20px);
    box-sizing: border-box;
}

.gallery-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: var(--box-shadow);
    transition: transform 0.3s;
    background: none;
    border: none;
    cursor: pointer;
}

.gallery-item img:hover {
    transform: scale(1.05);
}

.btn {
    background-color: white;
    border: none;
    cursor: pointer;
}
.advice-section {
    margin: 40px 20px;
    text-align: left;
    margin-top: 130px;
}

.advice-header {
    margin-bottom: 20px;
    text-align: center; /* Centre le titre et le paragraphe */
}

.advice-header h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: black;
    font-family: 'Roboto', sans-serif;
}

.advice-header p {
    font-size: 1.2em;
    color: var(--text-color);
    font-family: 'Helvetica', sans-serif;
    color: rgba(0, 0, 0, 0.662);
}

.advice-blocks {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 50px;
}

.advice-block {
    flex: 1 1 calc(33.333% - 30px); /* Réduisez l'espace entre les blocs pour les agrandir */
    max-width: calc(34.700% - 30px); /* Réduisez l'espace entre les blocs pour les agrandir */
    box-sizing: border-box;
    border: 2px solid white;
    padding: 20px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    text-align: center;
}

.advice-block img {
    width: 370px;
    height: 230px;
    margin-left: -14px;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 20px;
}


.advice-content {
    text-align: left;
}

.advice-content .date,
.advice-content .category {
    display: inline-block;
    margin-right: 20px; /* Ajoutez de l'espace entre la date et la catégorie */
}

.advice-content .date {
    font-size: 0.9em;
    color: var(--text-color);
    margin-bottom: 5px;
}

.advice-content .category {
    font-size: 1em;
    color: var(--primary-color);
    margin-bottom: 10px;
    background-color: aquamarine;
}

.advice-content h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: black;
    font-family: 'Roboto', sans-serif;
}

.advice-content p {
    font-size: 0.9em;
    color: rgba(52, 51, 51, 0.76);
    margin-bottom: 10px;
    font-family: 'Helvetica', sans-serif;
}

.advice-content .author {
    font-size: 1em;
    color: var(--text-color);
    margin-bottom: 5px;
}

.advice-content .author-title {
    font-size: 0.9em;
    color: var(--text-color);
}


.newsletter-section {
    text-align: center;
    background-color: #e0f7fa;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.images-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 1.5em;
}

.images-container img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2.8em;
    color: #2d2d2d;
    margin-bottom: 0.5em;
    font-family: 'Roboto', sans-serif;
}

.p {
    font-size: 1.2em;
    color: #555;
    margin-bottom: 1.5em;
    font-family: 'Helvetica', sans-serif;
}

.signup-button {
    display: inline-block;
    background-color: #aed9e0;
    color: #2d2d2d;
    text-decoration: none;
    padding: 0.8em 1.5em;
    font-size: 1em;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.signup-button:hover {
    background-color:#008080b6;
}

.footer {
    background-color: var(--primary-color);
    color: #fff;
    padding: 40px 20px;
    text-align: center;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
}

.footer-section {
    flex: 1;
    min-width: 200px;
}

.footer-section h3 {
    margin-bottom: 20px;
    font-size: 1.5em;
}

.footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
    font-family: 'Roboto', sans-serif;
}

.footer-section ul li a:hover {
    color: var(--hover-color);
}

.footer-bottom {
    border-top: 1px solid #fff;
    padding-top: 20px;
    margin-top: 20px;
}

.footer-bottom p {
    margin: 0;
    font-size: 0.9em;
    color: #fff;
}

/* Media queries pour ajuster le pied de page en fonction de la taille de l'écran */
@media (max-width: 900px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        text-align: center;
    }
}



